<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" 
      th:replace="administrador/vistaAdministrador::layout(~{::body})">
<head>
<meta charset="ISO-8859-1">
<title>Editoriales</title>
</head>
<body>
<div class="fondo col-sm p-3 min-vh-100">
        <div class="container">
            <table class="table table-light mt-5 col-5">
            <thead class="text-white bg-primary">
                <tr>
                    <th>ID</th>
                    <th>Editorial</th>
                    <th>Acciones</th>
                </tr>
            </thead>
                <tr th:each="edit:${editoriales}">
                    <td><p class="list-group-item-text lead" th:text="${edit.id}"></p></td>
                    <td><p class="list-group-item-text lead" th:text="${edit.nombreEditorial}"></p></td>
					<td>
                    	<a id="editarboton" class="btn btn-dark btn-sm" th:onclick="|editarEditorial(${edit.id})|">Editar</a>
					</td>
                </tr>

            </table>		 			
        </div>
        
            <div style="display:none" id="editarEditorial">
            <form action="/editoriales/modificacion" method="post">
                <label>Editorial</label>
                <input type="hidden" name="id"/>
                <input type="text" name="nombreEditorial"/>
                <input type="submit" value="Añadir" class="btn btn-primary"/>   
            </form>
        </div>
        </div>
</body>
</html>