<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <form action="/hiberlibros/realizarIntercambio" method="post">
            <div class="row">
                <div class="col-3">
                    <p>Título: &nbsp; <span th:text="${peticiones.idUsuarioLibro.libro.titulo}"></span></p>
                </div>
                <div class="col-3">
                    <p>Solicitante: &nbsp; <span th:text="${peticiones.idUsuarioSolicitante.nombre}"></span></p>
                </div>
                <div class="col-6">
                    <label for="usuarioPrestatario">Libros disponibles: </label>
                    <select multiple class='form-control' name="usuarioPrestatario">
                        <option></option>
                        <option th:each="ls:${librosSolicitante}" th:value="${ls.id}"th:text="${ls.libro.titulo+' Estado: '+ls.estadoConservacion}"></option>
                    </select>
                    <input type="hidden" name="id_peticion" th:value="${peticiones.id}"/>
                </div>
                <div class="text-right col-12">
                    <hr/>
                    <input type="submit" value="Intercambio" class="btn btn-primary"/>
                    <a th:href="@{/hiberlibros/rechazarIntercambio(id=${peticiones.id})}" class="btn btn-warning">Rechazar Intercambio</a>

                </div>
            </div>
        </form>


    </body>
</html>
