<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editoriales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:object="${peticion}" method="post">
            <input type="hidden" th:field="*{id}" />
            idUsuarioLibro <input type="text" th:field="*{idUsuarioLibro}" />
            idUsuarioSolicitante <input type="text" th:field="*{idUsuarioSolicitante}" />
            boolen aceptacion <input type="text" th:field="*{aceptacion}" />
            boolean pendiente tratar <input type="text" th:field="*{pendienteTratar}" />
            <input type="submit" value="Alta" formaction="/peticion/alta">
            <input type="submit" value="Modificar" formaction="/peticion/modificacion">
        </form>
        <div th:if ="${errMensaje != null}"><span th:text="${errMansaje}"></span> </div>
        <table th:if = "${peticiones.size()>0}">
            <tr>
                <th>id -- </th>
                <th>id Usuario libro -- </th>
                <th>id Usuario Solicitante --</th>
                <th>aceptacion (boolean) -- </th>
                <th>pendiente Tratar(boolean) -- </th>
            </tr>
            <tr th:each="petic:${peticiones}">
                <td><span th:text="${petic.id}"></span></td>
                <td><span th:text="${petic.idUsuarioLibro}"></span></td>
                <td><span th:text="${petic.idUsuarioSolicitante}"></span></td>
                <td><span th:text="${petic.aceptacion}"></span></td>
                <td><span th:text="${petic.pendienteTratar}"></span></td>
                <td><form  method="post">
                        <input type="hidden" name="id" th:value="${petic.id}"/> 
                        <input type="hidden" name="idUsuarioSolicitante" th:value="${petic.idUsuarioSolicitante}"/> 
                        <input type="hidden" name="idUsuarioLibro" th:value="${petic.idUsuarioLibro}"/> 
                        <input type="submit" value="Borrar" formaction="/peticion/baja"/>
                        <input type="submit" value="Consultar elemento" formaction="/peticion/peticion"/>
                        <input type="submit" value="Consultar Pendientes Tratar" formaction="/peticion/peticionesPendientes"/>
                        <input type="submit" value="Consultar peticiones Aceptadas" formaction="/peticion/peticionesAceptadas"/>
                    </form>
                </td>
            </tr>
            <div th:if="${peticionesPendientes != null}">
                peticiones pendientes
                <tr th:each="petic:${peticionesPendientes}">
                    <td><span th:text="${petic.id}"></span></td>
                    <td><span th:text="${petic.idUsuarioLibro}"></span></td>
                    <td><span th:text="${petic.idUsuarioSolicitante}"></span></td>
                    <td><span th:text="${petic.aceptacion}"></span></td>
                    <td><span th:text="${petic.pendienteTratar}"></span></td>
                </tr>
            </div>
            <div th:if="${peticionesAceptadas != null}">
                peticiones Aceptadas 
                <tr th:each="petic:${peticionesAceptadas}">
                    <td><span th:text="${petic.id}"></span></td>
                    <td><span th:text="${petic.idUsuarioLibro}"></span></td>
                    <td><span th:text="${petic.idUsuarioSolicitante}"></span></td>
                    <td><span th:text="${petic.aceptacion}"></span></td>
                    <td><span th:text="${petic.pendienteTratar}"></span></td>
                </tr>
            </div>
            <div th:if="${peticionesRechazadas != null}">
                peticiones rechazadas
                <tr th:each="petic:${peticionesRechazadas}">
                    <td><span th:text="${petic.id}"></span></td>
                    <td><span th:text="${petic.idUsuarioLibro}"></span></td>
                    <td><span th:text="${petic.idUsuarioSolicitante}"></span></td>
                    <td><span th:text="${petic.aceptacion}"></span></td>
                    <td><span th:text="${petic.pendienteTratar}"></span></td>
                </tr>
            </div>
        </table>
    </body>
</html>
