<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editoriales</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <form th:object="${editorial}" method="post">
            <input type="hidden" th:field="*{id}" />
            <input type="text" th:field="*{nombreEditorial}" />
            <input type="submit" value="Alta" formaction="/editoriales/alta">
            <input type="submit" value="Modificar" formaction="/editoriales/modificacion">
        </form>
        <div th:if ="${errMensaje != null}"><span th:text="${errMansaje}"></span> </div>
        <table th:if = "${editoriales.size()>0}">
            <tr>
                <th>id </th>
                <th>nombre Editorial</th>
            </tr>
            <tr th:each="edit:${editoriales}">
                <td><span th:text="${edit.id}"></span></td>
                <td><span th:text="${edit.nombreEditorial}"></span></td>
                <td><form  method="post"><input type="hidden" name="id" th:value="${edit.id}"/> <input type="submit" value="Borrar" formaction="/editoriales/baja"> <input type="submit" value="Consultar" formaction="/editoriales/consulta"></form></td>
            </tr>
        </table>
    </body>
</html>
